@import "./base/normalize";
@import "./base/reset";

@import "./utils/vars";
@import "./utils/mixins";
@import "./utils/breakpoints";
@import "./utils/placeholders";

@import "./base/general";
@import "./base/container";
@import "./base/menu";

@import "./components/logo";
@import "./components/button";
@import "./components/input";

@import "./components/header";
@import "./components/hero";
@import "./components/advantages";
@import "./components/services";
@import "./components/team";
@import "./components/clients";
@import "./components/portfolio-page";
@import "./components/footer";

@import "./components/backdrop";
