.advantages {
  @include section;

  // Desctop styles
  @media screen and (min-width: $desc) {
    @include section(94px, 94px);
  }
}

.advantages__list {
  // Mobile styles
  @media screen and (max-width: $pre-tabl) {
    display: block;
  }

  // Tablet styles
  @media screen and (min-width: $tablet) {
    --items: 2;
  }

  // Desctop styles
  @media screen and (min-width: $desc) {
    --items: 4;
  }
}

.advantages__item {
  // Mobile styles
  @media screen and (max-width: $pre-tabl) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.advantages__wrap-icon {
  display: flex;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;

  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;

  // Tablet and Desctop styles
  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.advantages__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
