.footer {
  background-color: var(--secondary-backgroung-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__wrap {
  // Mobile styles
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  // Tablet styles
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }

  // Desctop styles
  @media screen and (min-width: $desc) {
    align-items: baseline;
    text-align: left;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__logo-text {
  color: var(--primary-white-color);
}

// Address section

.address-wrap {
  // Mobile and Tablet styles
  text-align: center;
  margin-bottom: 60px;

  // Desctop styles
  @media screen and (min-width: $desc) {
    text-align: left;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.address__item {
  // Mobile and Tablet styles
  &:not(:last-child) {
    margin-bottom: 8px;
  }

  // Desctop styles
  @media screen and (min-width: $desc) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);
  &.location {
    color: var(--primary-white-color);
  }

  &:hover,
  &:focus {
    color: var(--link-color);
  }
}

// Follow section

.follow {
  // Mobile and Tablet styles
  text-align: center;
  margin-bottom: 60px;

  // Desctop styles
  @media screen and (min-width: $desc) {
    text-align: left;
    margin-bottom: 0;
  }
}

.follow__subtitle {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.follow__social {
  display: flex;
  justify-content: center;
}

.follow__social-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.follow__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-white-color);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--animation);
  &:hover,
  &:focus {
    background-color: var(--icons-bg-color);
  }
}

.follow__social-icon {
  fill: currentColor;
}

// Subscribe section

.subscribe {
  // For Mobile under 480px styles
  @media screen and (max-width: $pre-mob) {
    width: 100%;
  }

  // Only for Mobile and Tablet styles
  @media screen and (max-width: $pre-desc) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  // Desctop styles
  @media screen and (min-width: $desc) {
    margin-left: auto;
  }
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.subscribe__form {
  // For Mobile under 480px styles
  @media screen and (max-width: $pre-mob) {
    width: 100%;
  }

  // Mobile and Tablet styles
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  // Desctop styles
  @media screen and (min-width: $desc) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
  }
}

.subscribe__input {
  height: 50px;
  width: 450px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  // For Mobile under 480px styles
  @media screen and (max-width: $pre-mob) {
    width: 100%;
  }

  // Desctop styles
  @media screen and (min-width: $desc) {
    width: 358px;
  }
}

.subscribe__btn {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe__btn-icon {
  display: block;
  margin-left: 10px;
}
