/*  */
/* portfolio.html styles  */
/*  */

.portfolio {
  @include section;

  // Desctop styles
  @media screen and (min-width: $desc) {
    @include section(94px, 94px);
  }
}

/* portfolio filter */

.filter {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 40px;

  // Tablet styles
  @media screen and (min-width: $tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }

  // Desctop styles
  @media screen and (min-width: $desc) {
    margin-bottom: 50px;
  }
}

.filter__item {
  &:not(:last-child) {
    margin-right: 8px;
  }

  @media screen and (max-width: $pre-tabl) {
    margin-bottom: 15px;
  }
}

.filter__button {
  font-family: inherit;
  background: var(--primary-background-color);
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  transition: color var(--animation), background-color var(--animation),
    box-shadow var(--animation);

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background: var(--link-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

/* portfolio examples */

.portfolio__examples {
  --items: 1;
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);

  // Tablet styles
  @media screen and (min-width: $tablet) {
    --items: 2;
  }

  // Desctop styles
  @media screen and (min-width: $desc) {
    --items: 3;
  }
}

.portfolio__item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  background: var(--primary-white-color);
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow var(--animation);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);
  transition: transform var(--animation);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translatey(0);
  }
}

.overlay__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.portfolio__text-wrap {
  flex: 1 0 auto;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
