/* Body */
body {
  color: var(--text-color);
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
}

// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

/* cards set */

.cards-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.cards-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* visually-hidden */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
